<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.inventory.mapper.MesVoucherMapper">
    
    <resultMap type="MesVoucher" id="MesVoucherResult">
        <result property="voucherId"    column="voucher_id"    />
        <result property="voucherName"    column="voucher_name"    />
        <result property="voucherType"    column="voucher_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMesVoucherVo">
        select voucher_id, voucher_name, voucher_type, create_by, create_time, update_by, update_time, remark from mes_voucher
    </sql>

    <select id="selectMesVoucherList" parameterType="MesVoucher" resultMap="MesVoucherResult">
        <include refid="selectMesVoucherVo"/>
        <where>  
            <if test="voucherName != null  and voucherName != ''"> and voucher_name like concat('%', #{voucherName}, '%')</if>
            <if test="voucherType != null "> and voucher_type = #{voucherType}</if>
        </where>
    </select>
    
    <select id="selectMesVoucherByVoucherId" parameterType="Long" resultMap="MesVoucherResult">
        <include refid="selectMesVoucherVo"/>
        where voucher_id = #{voucherId}
    </select>
        
    <insert id="insertMesVoucher" parameterType="MesVoucher">
        insert into mes_voucher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="voucherId != null">voucher_id,</if>
            <if test="voucherName != null">voucher_name,</if>
            <if test="voucherType != null">voucher_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="voucherId != null">#{voucherId},</if>
            <if test="voucherName != null">#{voucherName},</if>
            <if test="voucherType != null">#{voucherType},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMesVoucher" parameterType="MesVoucher">
        update mes_voucher
        <trim prefix="SET" suffixOverrides=",">
            <if test="voucherName != null">voucher_name = #{voucherName},</if>
            <if test="voucherType != null">voucher_type = #{voucherType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where voucher_id = #{voucherId}
    </update>

    <delete id="deleteMesVoucherByVoucherId" parameterType="Long">
        delete from mes_voucher where voucher_id = #{voucherId}
    </delete>

    <delete id="deleteMesVoucherByVoucherIds" parameterType="String">
        delete from mes_voucher where voucher_id in 
        <foreach item="voucherId" collection="array" open="(" separator="," close=")">
            #{voucherId}
        </foreach>
    </delete>
</mapper>